@charset "UTF-8";

#regesterContainer{
	display:flex;
	position:absolute;
	justify-content:center;
	align-items:center;;
	top:0;
	right:0;
	left:0;
	bottom:0;
	
}

#innerContainer{
	width:450px;
	height: 500px;
	border: 2px solid black;
}

#woman, #man, #hide, label{
	margin-right: 5px
}

fieldset {
	border: black;
}
